<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <link href="{{url_for('static', filename ='css/main.css')}}" rel="stylesheet", type="text/css">
    <link rel="stylesheet" href="{{url_for('static', filename ='css/menu.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename ='css/button.css')}}">
    <title>Home</title>
</head>
<body>
    <h1 class="mob"> Kindling.</h1>
    <br>
    <div class="menu-wrap">
        <input type="checkbox" class="toggler">
        <div class="hamburger"><div></div></div>
        <div class="menu">
            <div>
                <div>
                    <ul>
                        <li><a href="nearyou">Home</a> </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="button_container_top">
	    <button class="btn"  onclick="window.location.href = 'report';"><span>Report</span></button>
    </div>
<div class="button_container_mid">
	    <button class="btn" onclick="window.location.href = 'nearyou';"><span>Near You</span></button>
    </div>
<div class="button_container_bot">
	    <button class="btn"  onclick="window.location.href = 'traveling';"><span>Traveling</span></button>
    </div>
<a href="/desktop" class="desktop">
        <img alt="desktop" src="../static/css/desktop.png" width="50" height="50">
</a>
</body>

</html>