<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <link href="{{url_for('static', filename ='css/main.css')}}" rel="stylesheet", type="text/css">
    <link rel="stylesheet" href="{{url_for('static', filename ='css/menu.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename ='css/button.css')}}">
    <title>Home</title>
</head>
<body id="desktop">
    <h2>Fires Near You</h2>
     <div class="menu-wrap">
        <input type="checkbox" class="toggler">
        <div class="hamburger"><div></div></div>
        <div class="menu">
            <div>
                <div>
                    <ul>
                        <li><a href="desktop">Home</a> </li>
                        <li><a href="about">About</a> </li>
                        <li><a href="#">Services</a> </li>
                        <li><a href="#">Contact</a> </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <p> The purpose of this page is to alert user of nearby fires</p>
</body>

</html>